<%- include('../partials/header') %>
<h2><%=title%></h2>
  <h3 class="mt-4">More about me!</h3>
  	<p>Click on the links below</p>
  	<ul class="nav nav-pills flex-column">
    	<li class="nav-item">
      	<a class="nav-link" href="https://github.com/Tadhanom95">GitHub</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="https://www.linkedin.com/in/tadesse-adhanom/">LinkedIn</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="https://github.com/Tadhanom95/My-portal">Portal</a>
    	</li>
  	</ul>
  	<hr class="d-sm-none">
	</div>
	<div class="col-sm-8">
  	<h2>Software Developer</h2>
  <div>
    <img src = "https://www.codemotion.com/magazine/wp-content/uploads/2020/05/developer-typing-on-keyboard-896x504.jpg" style=" height: 200px; width: 400px; border-radius: 50%;">
  </div>
    <p>My name is Tadesse Adhanom and I am a software developer. I am an easily adaptable and very dedicated person and always willing to learn new things. One of my greatest strengths is that I love taking risks at right time and I am the kind of person that any team can depend on, always punctual and determined to get the job done. I never waived in my contribution to my team as I am always ready to assist my teammates to achieve the result.</p>
<%- include('../partials/footer') %>