<%- include('../partials/header') %>
<h2><%=title%></h2>
  	<h5>Tadesse Adhanom:</h5>
  	<div class="fakeimg">
      <img src= "https://media-exp1.licdn.com/dms/image/C5603AQHFzezmKKMwmQ/profile-displayphoto-shrink_200_200/0/1653625502812?e=1666224000&v=beta&t=OsUrDvZD5d3K3zihf5lUM9vx7iu1Ir3tfoWYUYP_QF0" style=" height: 200px; width: 400px; border-radius:50%;">
    </div>
  	<p>My name is Tadesse Adhanom, I am a front-end passionate developer and I am eager to learn in every aspect of learning and practice to maximize my understanding of front-end programming.</p>
  	<div class="col-sm-8">
      <h2>Some of My Front-end Skills</h2>
      <h5> JavaScript, ReactJs, CSS, HTML</h5>
    </div>
  	<div class="fakeimg">
      <img src = "https://media-exp1.licdn.com/dms/image/C5603AQECCOanl5EHWA/profile-displayphoto-shrink_200_200/0/1660714448893?e=1666224000&v=beta&t=8hmFkQj33NFrt8iCbBm0CTChYNpBW3FWkI-nVy4rCqw" style="width:700px; height: 400px; border-radius:25%;">
    </div>
  	<p>As a software developer, I had some takeaways from my mentors and friends during my L&D time at Year Up and that helped me to move forward for my next level. </p>
  	
<%- include('../partials/footer') %>